<div class="flex flex-wrap gap-4 p-4" appClickVideosNavigate>
  @if (isLoading()) {
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (item of skeletonArray; track $index) {
    <app-video-summary-card-skeleton />
    }
  </div>
  } @else {
  @for (history of histories(); track history._id) {
  <div class="w-full p-2">
    <app-video-summary-card [video]="history.video" class="shadow-md rounded-lg overflow-hidden" />
    <div class="mt-2 text-sm text-gray-500 border-t border-gray-200 pt-2">
      Watched at {{ history.watchedAt | dateFormatter }}
    </div>
  </div>
  }
  @empty {
  <div class="w-full flex flex-col items-center justify-center p-6">
    <p class="text-lg text-gray-500">No videos found</p>
  </div>
  }
  }
</div>