<div class="space-y-6">
    @for(video of videos(); track video.id)
    {
    <div class="flex items-start space-x-4">
        <app-thumbnail [width]="60" [video]="video"></app-thumbnail>
        <div>
            <div class="text-lg font-semibold">{{ video.title }}</div>
            <div class="text-sm text-gray-600">{{ video.channelName }} · {{ video.views }} views · {{ video.createdAt }}
            </div>
            <div class="text-sm text-gray-500">{{ video.description }}</div>
        </div>
    </div>}
</div>