@if (state$ | async; as state) { @if (state.type === 'notAuthenticated') {
<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="text-center space-y-6">
    <div class="mx-auto w-28 h-28 text-gray-700">
      <div [innerHTML]="state.option.svg" class="w-full h-full"></div>
    </div>

    <h1 class="text-3xl text-gray-800">
      {{ state.option.notAuthenticatedTitle }}
    </h1>

    <p class="text-lg text-gray-600">
      {{ state.option.notAuthenticatedSubtitle }}
    </p>

    <div class="flex justify-center">
      <app-sign-in-button
        class="px-6 py-3 text-base font-medium text-white rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
      ></app-sign-in-button>
    </div>
  </div>
</div>
} @else {
<button
  class="px-6 py-3 text-black font-semibold shadow-md transition-all duration-300 transform hover:scale-105 border rounded-md"
  (click)="openModal()"
>
  <span class="mr-2">➕</span> Create
</button>
@if(showModal){
<app-create-library-modal
  (close)="showModal = false"
  (create)="createLibrary($event)"
></app-create-library-modal>
} @if(libraries.length > 0){
<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-6"
>
  @for (library of libraries; track $index) {
  <app-library [library]="library" />
  }
</div>
} @else {
<p class="text-center text-gray-600 text-lg">No libraries available.</p>
} } }
