<form [formGroup]="visibilityForm" (ngSubmit)="onSubmit()">
  <div class="space-y-4">
    <label class="block text-sm font-medium text-blue-900">
      Pick the visibility of this video
    </label>
    <div class="space-y-3">
      @for (vis of visibility; track vis) {
      <div class="flex items-center space-x-2">
        <div class="relative flex items-center">
          <input
            type="radio"
            [id]="vis"
            formControlName="visibility"
            [value]="vis"
            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-300 text-blue-600 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
          />
          <div
            class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-blue-500 opacity-0 transition-opacity peer-checked:opacity-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-3.5 w-3.5"
              viewBox="0 0 16 16"
              fill="currentColor"
            >
              <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
        </div>
        <label [for]="vis" class="text-sm text-gray-600">{{
          vis | titlecase
        }}</label>
      </div>
      }
    </div>
    @if (visibilityForm.get('visibility')?.invalid &&
    visibilityForm.get('visibility')?.touched) {
    <p class="text-sm text-red-600 mt-1">Please select a visibility option.</p>
    }
  </div>
</form>
