<div>
  <!-- Video Player -->

  <video class="w-full" [src]="video().videoLink" controls autoplay></video>

  <div class="py-4">
    <!-- Title and Info -->
    <h2 class="text-xl font-semibold">{{ video().title }}</h2>
    <p class="text-sm text-gray-600">
      {{ video().views }} views •
      {{ creationDate() }}
    </p>
    <hr class="my-4" />

    <!-- Channel Info -->
    <div class="flex items-start justify-start space-x-4 min-h-fit">
      <img
        alt="Avatar"
        [src]="video().channelImg"
        class="w-12 h-12 rounded-full"
      />
      <div class="flex flex-col w-full justify-center">
        <div class="flex justify-between items-center h-full">
          <div>
            <p class="font-medium">{{ video().channelName }}</p>
            <p class="text-sm text-gray-600">
              {{ channelSubscriptionsCount | async }} subscribers
            </p>
          </div>
          <div class="flex items-center space-x-4">
            <!-- LikeDislike Component -->
            <app-like-dislikes
              [type]="'video'"
              [id]="video().id"
              [videoId]="video().id"
              [showDislikes]="true"
            ></app-like-dislikes>
            <!-- Subscribe Button Component -->
            <app-subscribe-btn
              [channelId]="video().channelId"
              (subscriptionChange)="handleSubscriptionChange()"
            ></app-subscribe-btn>
          </div>
        </div>

        <!-- Description -->
        <div class="mt-4">
          <div
            [ngClass]="{
              'overflow-hidden': !showMore(),
              'max-h-24': !showMore()
            }"
          >
            <p class="text-sm text-gray-800">{{ video().description }}</p>
          </div>
          <button class="text-sm text-blue-500 mt-2" (click)="toggleShowMore()">
            {{ showMore() ? "Show Less" : " Show More" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4" />
</div>
