<div class="flex items-center px-4">
  <button
    aria-label="open drawer"
    class="p-2 rounded-full hover:bg-gray-100 focus:outline-none"
    (click)="toggleDrawer()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 5.25h16.5M3.75 12h16.5m-16.5 6.75h16.5"
      />
    </svg>
  </button>

  <img src="/assets/youtube-logo.png" alt="YouTube logo" class="h-9 md:h-10" />
</div>
