<div
  class="flex items-center w-full bg-secondaryBackground border border-secondaryGrey rounded-md"
>
  <input
    #searchInput
    type="text"
    class="flex-grow p-2 outline-none"
    placeholder="Search…"
    value="{{ searchValue() }}"
    (change)="handleSearchChange(searchInput.value)"
    aria-label="search"
  />
  <button
    class="p-2 bg-secondaryGrey/80 hover:bg-secondaryGrey border-l border-secondaryGrey focus:outline-none"
    (click)="handleSearch()"
    aria-label="search"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 15.75L21 21m-9.75-5.25a6 6 0 100-12 6 6 0 000 12z"
      />
    </svg>
  </button>
</div>
